{% extends "socialaccount/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="uk-container uk-padding uk-flex-center">
        <div>
            <h1>{% trans "Регистрация" %}</h1>

            <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Вы решили авторизоваться
                через ваш {{ provider_name }} аккаунт. E-mail указанный на вашем {{ provider_name }} аккаунте уже
                используется,
                заполните форму нижу чтобы закончить регистрацию:{% endblocktrans %}
            </p>

            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}
                <div class="uk-margin">
                    {% render_field form.email class+='uk-input uk-width-1-3' %}
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="uk-button uk-button-primary">{% trans "Регистрация" %} &raquo;</button>
            </form>
        </div>
    </div>
{% endblock %}
