<div class="uk-child-width-1-4@l uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-small" uk-grid>
    {% for i in user_lessons %}
        <div class="uk-text-center">
            <a href="{% url 'test_detail' i.slug %}" class="category">
                <div>
                <span>
                    <img src="{{ i.image.url }}" alt="image">
                </span>
                    <p>{{ i.name }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    {% for i in disabled_lessons %}
        <div class="uk-text-center">
            <a href="{% url 'test_detail' i.slug %}" class="category uk-disabled uk-inline">
                <div class="uk-overlay-primary uk-position-cover" style="border-radius:15px"></div>
                <div class="uk-overlay uk-position-bottom uk-dark">
                    <p style="font-size: 14px;">Пройдите предыдущий тест, не менее чем на 60%</p>
                </div>
                <div>
                <span>
                    <img src="{{ i.image.url }}" alt="image">
                </span>
                    <p>{{ i.name }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>