{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="about-us-page">
        <div class="uk-container">
            {{ about_us.text|safe }}
{#            <div class="uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s"#}
{#                 uk-height-match="target: > div > div" uk-grid>#}
{#                <div>#}
{#                    <div class="logotype1">#}
{#                        <img src="{% static 'img/logo1.svg' %}" alt="logotype">#}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    <div class="about-us">#}
{#                        <h4>О ФОНДЕ</h4>#}
{#                        <p>Фонд «Центр поддержки СМИ» был создан в 2002 год. Нам уже 16 лет!#}
{#                            У нас есть миссия, которая заключается в содействии развитию свободы слова в Кыргызстане.#}
{#                            Мы- некоммерческая организация, то есть наша цель - это развивать полезные образовательные#}
{#                            проекты.</p>#}
{#                        <p>Мы занимаемся медиа и информационной грамотностью с 2012 года! Первый проект назывался Media#}
{#                            Literacy Course и он обучал критическому мышлению.#}
{#                            У нас есть меморандум с Министерством Образования и науки Кыргызстана, и они нас активно#}
{#                            поддерживают, помогают.</p>#}
{#                        <p>Мы хотим, чтобы каждый понимал важность быть критичным к любой информации, а особенно в#}
{#                            Интернете. Чтобы каждый задавал вопрос: «А это точно правда?». Чтобы каждый различал#}
{#                            пропаганду#}
{#                            и имел свое собственное мнение. Чтобы использовал Интернет для обучения и саморазвития.#}
{#                            Чтобы#}
{#                            каждый управлял своим временем и ресурсами с умом, сохранял фокус на том, что действительно#}
{#                            важно.</p>#}
{#                        <p>У нас есть международная награда за наши труды по развитию медиа грамотности, которую дали#}
{#                            только 4 странам из 170!</p>#}
{#                        <p>Один из наших партнеров - IREX в Европе, является международной некоммерческой организацией.#}
{#                            Благодаря нашему партнерству была создана онлайн платформа МедиаСабак.</p>#}
{#                        <p>Другой наш партнер, Академия DW, является ведущей организацией Германии в области#}
{#                            международного#}
{#                            медиа развития. Она поддерживает развитие независимых и прозрачных медиа систем, качества#}
{#                            журналистской работы и медиа компетенций. Академия DW способствует образованию молодых#}
{#                            журналистских кадров Deutsche Welle. Благодаря нашему партнерству были созданы материалы для#}
{#                            онлайн платформы МедиаСабак.</p>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    <div class="logotype2">#}
{#                        <img src="{% static 'img/IREX-Logo.png' %}" alt="logotype">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="uk-margin-large-bottom">#}
{#                    <div class="about-us">#}
{#                        <h4>Об онлайн платформе МедиаСабак</h4>#}
{#                        <p>На этой платформе ты можешь обучиться медиа информационной грамотности легко и интересно!</p>#}
{#                        <p>Здесь ты найдешь 8 уроков. Ты познакомишься с Максом в коротком мультфильме, затем ты#}
{#                            узнаешь в#}
{#                            видео о какой-то части медиа грамотности, проверишь себя в упражнениях.</p>#}
{#                        <p>У тебя есть возможность пройти тест и узнать, насколько ты теперь медиа грамотный.</p>#}
{#                        <p>Если ты после обучения захотел сделать свой медиа-продукт, то твоя работа может быть#}
{#                            опубликована на нашем портале! Делись своими идеями и пиши на нашу почту:#}
{#                            admin@medisabak.org</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}
{##}
{#<footer>#}
{#    <div class="uk-container">#}
{#        <div class="uk-child-width-1-5 uk-flex-middle" uk-grid>#}
{#            <div>#}
{#                <div>#}
{#                    <a href="#">#}
{#                        <img src="img/footer-logo.svg" alt="logotype" class="footer-logo">#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div>#}
{#                <div>#}
{#                    <ul class="uk-list">#}
{#                        <li><a href="#">О нас</a></li>#}
{#                        <li><a href="#">Обучение</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div>#}
{#                <div>#}
{#                    <ul class="uk-list">#}
{#                        <li><a href="#">Пройти тест</a></li>#}
{#                        <li><a href="#">Информация</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div>#}
{#                <div class="address">#}
{#                    <p><i class="zmdi zmdi-pin"></i>2017 Центр поддержки СМИ.#}
{#                        г. Бишкек, ул. Горького 1Б</p>#}
{#                </div>#}
{#            </div>#}
{#            <div>#}
{#                <div class="contacts">#}
{#                    <p><i class="zmdi zmdi-smartphone-android"></i> +996 312 53-00- 00 <br> +996 312 53-16- 39</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
{##}
{#<div id="modal-center" class="uk-flex-top" uk-modal>#}
{#    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">#}
{##}
{#        <button class="uk-modal-close-default" type="button" uk-close></button>#}
{##}
{#        <h4 class="uk-text-center">Авторизация</h4>#}
{##}
{#        <p class="uk-text-center">Вы можете авторизоваться через одну из данных социальных сетей</p>#}
{##}
{#        <ul class="uk-list uk-text-center">#}
{#            <li>#}
{#                <a href="#">Войти через Faceook#}
{#                    <i class="zmdi zmdi-facebook-box"></i>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">Войти через Vkontakte#}
{#                    <i class="zmdi zmdi-vk"></i>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">Войти через Twitter#}
{#                    <i class="zmdi zmdi-twitter"></i>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">Войти через Google#}
{#                    <i class="zmdi zmdi-google"></i></a>#}
{#            </li>#}
{#        </ul>#}
{##}
{#    </div>#}
{#</div>#}
{##}
{#<script src="js/main.js"></script>#}
{#</body>#}
{#</html>#}